/*===================OpenSans======================*/
@font-face {
    font-family: "Raleway-Black";
    src: url(../fonts/raleway/Raleway-Black.ttf);
}
@font-face {
    font-family: "Raleway-BlackItalic";
    src: url(../fonts/raleway/Raleway-BlackItalic.ttf);
}
@font-face {
    font-family: "Raleway-Bold";
    src: url(../fonts/raleway/Raleway-Bold.ttf);
}
@font-face {
    font-family: "Raleway-BoldItalic";
    src: url(../fonts/raleway/Raleway-BoldItalic.ttf);
}
@font-face {
    font-family: "Raleway-ExtraBold";
    src: url(../fonts/raleway/Raleway-ExtraBold.ttf);
}
@font-face {
    font-family: "Raleway-ExtraBoldItalic";
    src: url(../fonts/raleway/Raleway-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: "Raleway-ExtraLight";
    src: url(../fonts/raleway/Raleway-ExtraLight.ttf);
}
@font-face {
    font-family: "Raleway-ExtraLightItalic";
    src: url(../fonts/raleway/Raleway-ExtraLightItalic.ttf);
}
@font-face {
    font-family: "Raleway-Italic";
    src: url(../fonts/raleway/Raleway-Italic.ttf);
}
@font-face {
    font-family: "Raleway-Light";
    src: url(../fonts/raleway/Raleway-Light.ttf);
}
@font-face {
    font-family: "Raleway-LightItalic";
    src: url(../fonts/raleway/Raleway-LightItalic.ttf);
}
@font-face {
    font-family: "Raleway-Medium";
    src: url(../fonts/raleway/Raleway-Medium.ttf);
}
@font-face {
    font-family: "Raleway-MediumItalic";
    src: url(../fonts/raleway/Raleway-MediumItalic.ttf);
}
@font-face {
    font-family: "Raleway-Regular";
    src: url(../fonts/raleway/Raleway-Regular.ttf);
}
@font-face {
    font-family: "Raleway-SemiBold";
    src: url(../fonts/raleway/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: "Raleway-SemiBoldItalic";
    src: url(../fonts/raleway/Raleway-SemiBoldItalic.ttf);
}
@font-face {
    font-family: "Raleway-Thin";
    src: url(../fonts/raleway/Raleway-Thin.ttf);
}
@font-face {
    font-family: "Raleway-ThinItalic";
    src: url(../fonts/raleway/Raleway-ThinItalic.ttf);
}