html{

}
body{
	font-family: "Raleway-Regular",sans-serif;
	font-size: 16px;
    line-height: 18px;
    margin: 0;
}
.navbar-default{
    border: none;
    background-color: #fff;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
    color: #00451E;
    background-color: #fff;
    font-weight: bold;
}
.home .bg-green{
    background-color: #00451E;
    padding: 30px 15px;
}
.home .bg-green h1{
    font-family: "Raleway-Bold",sans-serif;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    text-align: center;
}
.brown{
    background-color: #BD8A3E;
    padding: 30px 40px;
}
.brown p{
    font-size: 24px;
    line-height: 29px;
    color: #fff;

}
.lightbrown{
    background-color: #E3A44B;
    padding: 30px 40px;
}
.lightbrown h3{
    font-family: "Raleway-Bold";
    font-size: 26px;
    line-height: 32px;
    color: #00451E;
}
.lightbrown p{
    font-family: "Raleway-MediumItalic";
    font-size: 24px;
    line-height: 29px;
    color: #fff;
}
.lightbrown p strong{
    font-family: "Raleway-SemiBoldItalic";
    font-size: 26px;
    line-height: 31px;
    color: #045C30;
}
.offer-box{
    padding: 25px 70px;
}
h2.offer{
    font-family: "Raleway-Bold",sans-serif;
    font-size: 40px;
    line-height: 52px;
    color: #231F20;
    padding-left: 10px;
}
ul.list-offer li{
    font-family: "Raleway-Light";
    font-size: 24px;
    line-height: 29px;
    color: #231F20;
}
.home-footer{
    background-color: #00451E;
    padding: 30px 15px;
    text-align: center;
}
.home-footer p{
    font-family: "Raleway-Bold",sans-serif;
    font-size: 26px;
    line-height: 32px;
    color: #fff;
}
.home-footer h2{
    font-family: "Raleway-Bold",sans-serif;
    font-size: 70px;
    line-height: 82px;
    color: #fff;
}
.home-footer h3{
    font-family: "Raleway-Regular",sans-serif;
    font-size: 46px;
    line-height: 56px;
    color: #fff;
}
/*==================================================*/
.contact-us .bg-green{
    background-color: #00451E;
    padding: 15px;
}
.contact-us .bg-green h1{
    font-family: "Raleway-Bold",sans-serif;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    text-align: left;
    margin: 0;
}
.contact-us .form-horizontal{
    margin: 50px 0;
}
.contact-us .form-horizontal label{
    font-family: "Raleway-Bold",sans-serif;
    font-size: 18px;
    color: #00451E;
}
.form-control{
    border: 1px solid #00451E;
    border-radius: 0;
}
.btn-default{
    background-color: #00451E;
    font-family: "Raleway-Bold",sans-serif;
    color: #fff;
    border-radius: 0;
    padding: 10px 25px;
}
.footer-left{
    background-color: #00451E;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-left h3{
    font-family: "Raleway-Bold",sans-serif;
    color: #fff;
}
.footer-left h4{
    font-family: "Raleway-Bold",sans-serif;
    color: #fff;
}